language: ruby
rvm:
  - 2.2.7
  - 2.3.4
  - 2.4.1
gemfile:
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_master.gemfile
matrix:
  allow_failures:
    - gemfile: 'gemfiles/rails_master.gemfile'
before_install: gem install bundler -v 1.11.2
